/* Responsive Layout */
@media (max-width: 768px) {
  nav ul.nav-links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .values-grid {
    flex-direction: column;
    gap: 1rem;
  }

  .btn {
    width: 80%;
    max-width: 300px;
  }
}

/* Fix  Nav Bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo a {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #68B4F4;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
